body{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
h1{
    font-family: "INTRO";
    font-size: 20vmax;
    font-weight: bold;
    background: linear-gradient(to left,#e66465, #9198e5);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#reader{
    width: 500px;
    height: 500px;
}